* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

.aparecer {
    display: none;
}

.img {
    background-image: url("https://source.unsplash.com/random/1000x1000");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.menu {
   display: none;

}


.outromenu ul li {
    list-style: none;
    margin-top: 6rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    padding: 0.4rem 2rem;
}

aside h1 {
    font-size: 3rem;
}

aside nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 10rem;
}

aside button {
    display: none;
}

@media (max-width: 80rem) {
    aside button {
        display: block;
    }

    aside nav {
        display: none;
    }

    .aparecer {
        position: absolute;
        left: 50%;
        background: rgba(255, 146, 146, 0.786);
        height: auto;
        width: 50%;
        display: flex;
        justify-content: center;
        z-index: 2;
        
    }

    .menu {
        text-align: center;
        display: block;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }


    .outromenu {
        padding-right: 10rem;
    }

    button {
        border: none;
        padding: 1rem;
        background: #fff;
        border: 0.2rem solid #000;
        border-radius: 2rem;
        font-weight: 500;
        cursor: pointer;
    }

}