
html {
    font-size: 62.5%;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    font-size: 3rem;
}

div {
    padding: 5rem 0;
}

button {
    border: none;
    background: #fff;
    border: 1px solid #000;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    font-weight: 800;
    cursor: pointer;
}

ul {
    margin-left: 62rem;
    width: 0rem;
}


input {
    padding: 1.2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    outline: none;
}

#enviar:active {
    border: 0.1rem solid green;
}

#resetar:active {
    border: 0.1rem solid red;
}

input:focus {
    border: 0.1rem solid purple;
}